<div class="row">
  <div>
    <select id="map">
      <option>Empty_Map</option>
      <option>Loop</option>
      <option>Square</option>
      <option>Grey_bands</option>
      <option>Grey_and_black</option>
      <option>Radial_grey</option>
      <option>Lollipop</option>
      <option>Coloured_bands</option>
      <option>WRO_2019_Regular_Junior</option>
      <option>WRO_2018_Regular_Junior</option>
      <option>FLL_2019_City_Shaper</option>
      <option>FLL_2018_Into_Orbit</option>
      <option>Line_Following_Test</option>
      <option>Junction_Handling_Test</option>
      <option>Obstacles_Test</option>
      <option>Upload Image (2362x1143px)...</option>
      <option hidden>Custom Image</option>
    </select>
    <button id="robotConfiguratorOpen">Configure Robot</button>
    <button id="configureObstacles">Obstacles...</button>
  </div>
  <div class="right">
    <div>X : <input type="number" id="xPos"></div>
    <div>Y : <input type="number" id="yPos"></div>
    <div>Angle : <input type="number" id="angle"></div>
    <div><button id="move">Move</button>
      <button id="reset">Reset</button></div>
  </div>
</div>
<div class="row">
  <div id="editor">
    <div class="row buttons">
      <div class="leftFlex">
        <button id="runCode">Run</button>
        <button id="stop">Stop</button>
        <input type="checkbox" id="collaborative">Collaborative
      </div>
      <div class="center">

        <input type="checkbox" id="showChart">Show chart
        <input type="checkbox" id="penDown">Pen Down
      </div>
      <div class="rightFlex">
        <button id="clearTrace">Clear Trace</button>
        <button id="clearChart">Clear Chart</button>
        <button id="upload">Load</button>
        <button id="download">Save</button>
      </div>
    </div>
    <div id="noise_controls">
      <label for="lightSensorNoiseSlider">Light sensor noise:</label>
      <input type="range" id="lightSensorNoiseSlider" name="lightSensorNoiseSlider" value="0" min="0" max="50">

      <label for="wheelNoiseSlider">Wheel noise:</label>
      <input type="range" id="wheelNoiseSlider" name="wheelNoiseSlider" value="0" min="0" max="500">
    </div>
    <div id="charter">
      <div id="chartTraces">
        <input type="checkbox" id="chart_colour">Colour
        <input type="checkbox" id="chart_left_light">Left light
        <input type="checkbox" id="chart_right_light">Right light
        <input type="checkbox" id="chart_ultrasound">Ultrasonic
        <input type="checkbox" id="chart_gyro">Gyro
      </div>
      <div id="plotlyDiv"></div>
    </div>
  </div>
  <pre id="output"></pre>
</div>

<div id="readings">Sensor readings:
  <div>Sensor1: <div id="sensor1_color" style="width: 10px; height:10px"></div> <span id="sensor1_value"></span>
  </div>
  <div>Sensor2: <div id="sensor2_color" style="width: 10px; height:10px"></div> <span id="sensor2_value"></span>
  </div>
  <div>Ultrasonic: <span id="ultrasonic_value"></span></div>
  <div>Gyro: <span id="gyro_value"></span></div>
</div>

<div id="field"></div>

<div id="robotConfigurator" class="closed">
  <textarea id="robotConfiguratorEditor" spellcheck="false"></textarea>
  <i>* Dimensions are in mm and degrees.</i>
  <div class="buttons">
    <div class="leftFlex">
      <button id="robotConfiguratorApply">Apply</button>
      <button id="robotConfiguratorCancel">Cancel</button>
    </div>
    <div class="rightFlex">

      <button id="robotConfiguratorupload">Load</button>
      <button id="robotConfiguratordownload">Save</button>
    </div>
  </div>
</div>

<div id="obstaclesConfigurator" class="closed">
  <div class="content">
    <div><input type="checkbox" id="showRays">Show ultrasonic rays</div>
    <div><input type="checkbox" id="walls" checked>Walls around map</div>
    <div><input type="checkbox" id="obstacles" checked>Obstacles</div>
    <textarea id="obstaclesConfiguratorEditor" spellcheck="false"></textarea>
  </div>
  <div class="buttons">
    <div class="leftFlex">
      <button id="obstaclesConfiguratorApply">Apply</button>
      <button id="obstaclesConfiguratorClose">Close</button>
    </div>
    <div class="rightFlex">
      <button id="obstaclesConfiguratorupload">Upload File</button>
      <button id="obstaclesConfiguratordownload">Download to File</button>
    </div>
  </div>
</div>

<div id="window" class="closed">
  <div class="content"></div>
  <div class="windowRow">
    <button id="closeWindow">Close</button>
  </div>
</div>